.contacto{
    margin:auto;
    width: 100%;
    background-color: rgb(46, 46, 45);
    padding: 3rem;
    
}
.send{
    text-align: center;
    
}
.btn-send{
    background-color:rgb(167, 17, 167) ;
    color: white;
    margin: auto;
    width: 7rem;
    
}
.text-work{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
   
}

.input-text{
    margin: 2rem 6rem;
}


@media (max-width:576px) {
    .contacto{
        padding: 1rem;
    }
    .input-text{
        margin: 1rem 3rem;
    }
}