.footer{
    background-color: white;
    text-align: center;
    padding: 2rem;
   
}
.item{
    color:rgb(46, 46, 45);
    padding: 1rem;
    text-decoration: none;
    font-weight: 500;
    justify-content:left;
    font-size: 0.8rem;
    
}
.item:hover{
    color: rgb(167, 17, 167);
    font-weight: 500;
}

@media (max-width:576px) {
    .item{
        font-size: 0.68rem;
    }
}